* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.main-container {
  width: 1440px;
  /* border: 1px solid red; */
  margin: 0 auto;
  /* padding-left: 100px; */
  /* padding-right: 100px; */
  padding: 0 100px;
  color: #272042;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1440px) {
  .main-container {
    width: 100%;
  }
}

@media screen and (max-width: 1120px) {
  .main-container {
    padding: 0 20px;
  }
}

.navigation {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .navigation {
    flex-direction: column;
    margin-top: 10px;
  }
}

@media screen and (max-width: 700px) {
  .navigation {
    align-items: flex-start;
  }
}

.navigation-items {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}

.nav-actions {
  display: flex;
  gap: 50px;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .navigation-items {
    justify-content: space-between;
    gap: auto;
    width: 100vw;
    padding: 0 20px;
  }
}

@media screen and (max-width: 700px) {
  .navigation-items {
    display: none;
  }
}

.logo > p {
  font-size: 28px;
}

.navigation-items li {
  font-size: 18px;
  color: #8b8ba5;
  border-bottom: 4px solid transparent;
}


.navigation-items li a{
  text-decoration: none;
}

/* new */


nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #8b8ba5;
  text-transform: uppercase;
}
nav ul li a:after,nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: black;
}
nav.navigation ul li a {
  position: relative;
}
nav.navigation ul li a:after {
  content: '.';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  color: transparent;
  background: #fbe0dc;
  height: 4px;
}
nav.navigation ul li a:hover:after {
  width: 100%;
  cursor: pointer;

}

/* new */


.nav-button {
  padding: 15px 30px;
  background-color: #fbe0dc;
  border-radius: 30px;
}

.nav-button:hover{
  box-shadow:0 3px 3px 0px lightskyblue;
  transform:translateY(-3px);
  background-color:yellow;
  color:red;
}


.slogan-section {
  margin-top: 90px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slogan-image {
  margin-left: 10px;
}

@media screen and (max-width: 1400px) {
  .slogan-section {
    padding: 0;
    justify-content: space-around;
  }

  .slogan-image {
    width: 480px;
  }

  .slogan-image img {
    width: 100%;
  }
}

.slogan-box {
  width: 425px;
}

.slogan-box > h1,
.app-box h1 {
  font-size: 46px;
  line-height: 70px;
  color: #272042;
}

.slogan-box > p,
.app-box p {
  font-size: 20px;
  line-height: 34px;
  color: #8b8ba5;
  margin: 10px 0 40px 0;
}

@media screen and (max-width: 1150px) {
  .slogan-box {
    width: 350px;
  }
  .slogan-box > h1 {
    font-size: 30px;
    line-height: 34px;
  }

  .slogan-box > p {
    font-size: 1rem;
    line-height: 30px;
  }
}

@media screen and (max-width: 730px) {
  .slogan-image {
    display: none;
  }

  .slogan-section {
    text-align: center;
    padding-block: 30px;
    position: relative;
    margin-top: 40px;
  }

  .slogan-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./assets/images/titleimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.25;
    filter: blur(3px);
  }

  .slogan-box > p {
    color: #272042;
  }
}

.underline {
  position: relative;
  /* border: 1px solid red; */
}

.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fbe0dc;
  height: 8px;
  border-radius: 100px;
  z-index: -1;
}

.pick-menu {
  padding: 15px 40px;
  background-color: #f7c531;
  color: #272042;
  border: none;
  font-size: 18px;
  border-radius: 30px;
}

.pick-menu:hover {
  transform:translateY(-3px);
  box-shadow: 0px 5px 5px 3px rgba(235, 90, 23, 0.568);
  background-color: rgb(235, 90, 23);
  color: white;
  font-weight: 600;
}

.special-try {
  margin-top: 145px;

}

.special-try > h3 {
  /* width: fit-content;
    margin: 0 auto; */
  text-align: center;
  font-size: 32px;
}

.special-section-nav {
  margin-top: 30px;
}

.special-section-nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

@media screen and (max-width: 730px) {
  .special-try {
    margin-top: 50px;
    /* border: 1px solid red; */
  }
}

@media screen and (max-width: 540px) {
  .special-section-nav > ul {
    font-size: 16px;
  }
}

.special-section-nav > ul li {
  margin-right: 50px;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
}

.special-section-nav > ul li:last-child {
  margin-right: 0;
}

.special-section-nav > ul li:hover {
  color: #f7c531;
  /* border-bottom: 2px solid #f7c531; */
  cursor: pointer;
}

.food-image {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}

.food-item {
  text-align: center;
}

@media screen and (max-width: 1350px) {
  .food-image {
    flex-wrap: wrap;
    gap: 30px;
  }
  .food-item {
    /* border: 1px solid red; */
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 580px) {
  .food-item {
    width: 100%;
    border-radius: 15px;
  }
}

.food-item > img {
  margin-bottom: 20px;
}

.food-item > h4 {
  font-size: 20px;
}

.food-item > p {
  margin: 10px 0;
  color: #8b8ba5;
}

.chef-block {
  margin-top: 125px;
  /* border: 1px solid red; */
}

.chef-block-content {
  width: 736px;
  /* border: 1px solid green; */
  margin: 0 auto;
  position: relative;
}

.chef-block-content::before {
  content: "“";
  font-size: 500px;
  color: #f1f1f1;
  position: absolute;
  top: -220px;
  left: -180px;
  /* border: 1px solid magenta; */
  font-weight: 700;
  z-index: -1;
}

.chef-main-text {
  font-size: 36px;
  line-height: 50px;
  font-weight: 200;
}

@media screen and (max-width: 1100px) {
  .chef-block-content {
    width: 80%;
    text-align: center;
  }
  .chef-main-text {
    font-size: 25px;
  }
  .chef-block-content::before {
    content: "“";
    font-size: 380px;
    position: absolute;
    top: -170px;
    left: -100px;
  }
}

@media screen and (max-width: 820px) {
  .chef-main-text {
    font-size: 25px;
  }
  .chef-block-content::before {
    content: "“";
    font-size: 360px;
    position: absolute;
    top: -150px;
    left: -70px;
  }
}

.chef-img {
  /* border: 1px solid magenta; */
  width: 283px;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20px;
}

.chef-img p {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 6px;
}

.chef-img span {
  color: #8b8ba5;
}

.chef-img-box img {
  border-radius: 50%;
}

.chef-img-box {
  position: relative;
  /* border: 1px solid black; */
}

.chef-img-box::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fdfae5;
  position: absolute;
  top: -4px;
  left: -5px;
  z-index: -1;
}

.chef-img-box::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #d8cbf6;
  position: absolute;
  bottom: 0px;
  right: -4px;
  z-index: -1;
}

.nums {
  margin-top: 100px;
}

.nums-box {
  width: 857px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .nums-box {
    width: 94%;
  }
}

@media screen and (max-width: 790px) {
  .nums-box {
    flex-wrap: wrap;
    gap: 30px;
  }
  .nums-item:first-child,
  .nums-item:nth-child(3) {
    margin-right: -10px;
  }
  .nums-item {
    text-align: center;
    width: calc(50% - 30px);
  }
}

.nums-item h3 {
  font-size: 32px;
  margin-bottom: 8px;
}

.nums-item p {
  font-size: 20px;
  color: #8b8ba5;
  font-weight: 100;
  text-align: center;
}

.app {
  margin-top: 70px;
}

.app-box {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-box-content {
  width: 445px;
}

.phone-box a:first-child {
  margin-right: 20px;
}
@media screen and (max-width: 1060px) {
  .app-box-image {
    display: none;
  }

  .app-box {
    text-align: center;
    padding-block: 30px;

    position: relative;
    margin-top: 40px;
  }

  .app-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/assets/images/phone.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.25;
    filter: blur(0.5px);
  }

  .app-box-content > p {
    color: #272042;
  }
  .app-box-content {
    width: auto;
  }
}
@media screen and (max-width: 504px) {
  .phone-box a:first-child {
    margin: 0 auto;
  }
}

.footer .info {
  display: flex;
  width: 68%;
  justify-content: space-between;
}
.footer {
  display: flex;
  /* justify-content: center; */
  margin-top: 50px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 70px 100px;
  align-items: center;
  /* border:1px solid red; */
}

.footer div:first-child {
  /* border: 1px solid green; */
  margin-right: 100px;
}

.footer ul {
  list-style: none;
  text-decoration: none;
}

.footer ul li a {
  text-decoration: none;
}

.footer ul li,
.footer ul li a {
  color: #8b8ba5;
  margin-bottom: 14px;
}

.footer ul li:first-child {
  font-size: 22px;
  margin-bottom: 20px;
  color: #272042;
}

/* .footer ul li a:hover {
  color: #272042;
  text-decoration: underline;
} */

.footer ul:last-child {
  align-self: flex-start;
}

.footer-end {
  padding: 30px 0;
  text-align: center;
  color: #8b8ba5;
  font-size: 18px;
}

@media screen and (max-width: 1045px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .footer div {
    text-align: center;
    /* margin: 0 auto; */
  }

  .footer div:first-child {
    /* margin-bottom: 30px; */
    /* border: 1px solid red; */
    margin: 30px auto;
  }
  .footer div:last-child {
    width: 80%;
  }
}
@media screen and (max-width: 680px) {
  .info {
    flex-wrap: wrap;
  }
  .info ul {
    margin: 20px auto;
  }
  .info ul:last-child {
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .info {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
  }
  .footer ul {
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
  }
  .footer ul:last-child {
    margin: 0 auto;
  }
}


/* new 2 */

nav ul li::after,nav ul li::before {
  transition: all .5s;
}
nav ul li:hover {
  color: #f7c531;
}


.special-section-nav ul li{
  position: relative;
}
.special-section-nav ul li::after {
  content: '.';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  color: transparent;
  background: #f7c531;
  height: 3px;
}
.special-section-nav ul li:hover::after {
  width: 100%;
  cursor: pointer;

}

/* new 2 */



/* new 3 */


.footer ul li {
  text-align: center;
}
.footer ul li a {
  display: block;
  /* padding: 15px; */
  text-decoration: none;
  color: #8b8ba5;
  text-transform: uppercase;
}
.footer ul li a:after,.footer ul li a:before {
  transition: all .5s;
}
.footer ul li a:hover {
  color: black;
}

.footer ul li a {
  position: relative;
}
.footer ul li a:after {
  content: '.';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  color: transparent;
  background:lightblue;
  height: 4px;
}
.footer ul li a:hover:after {
  width: 100%;
  cursor: pointer;

}


/* new 3 */